@import url('http://fonts.cdnfonts.com/css/harry-potter');

body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
    background-color: #2A623D;
    font-family: 'Harry Potter', sans-serif;
                                                
}
h1, h2{
    text-align: center;
    background-color: #2A623D;
}
.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 5px;
    padding: 5px;
    width: 500px;
    height: 50px;
    background-color: #AAAAAA;
    font-size: x-large;
    text-align: center;
    
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #AAAAAA;   
        
}
.option{    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: #AAAAAA;
    border-radius: 25%;
    font-family: 'Harry Potter', sans-serif;
    
}
.option:hover{
    background-color: #5D5D5D;
}
.option:active {
    background-color: #2A623D;
}
.option:focus {
    background-color: #2A623D;
}


  
.next{
    width: 100px;
    height: 75px;
    padding: 5px;
    font-size: larger;
    font-family: 'Harry Potter', sans-serif;
    color: white;
    background-color: #2A623D;
}

